<nav class="navbar navbar-expand-lg navbar-dark justify-content-between bg-primary">
    <a class="navbar-brand" href="#">Datamundi Job Portal</a>

    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">My profile</a>
            <div class="dropdown-menu">
                {{#unless freelancer.lspId}}
                    <a class="dropdown-item" href="/profile/personal">Personal</a>
                    <a class="dropdown-item" href="/profile/professional">Professional</a>
                    <a class="dropdown-item" href="/profile/payment">Payment</a>
                {{/unless}}
                <a class="dropdown-item" href="/profile/settings">Settings</a>
                <a class="dropdown-item" href="/profile/nda">N.D.A.</a>
                {{#unless freelancer.lspId}}
                    <a class="dropdown-item" href="/profile/delete">Delete this account</a>
                {{/unless}}
                <a class="dropdown-item" href="/profile/datamundiStaffChat">Datamundi Staff Chat</a>
                <a class="dropdown-item" href="/profile/help">Help</a>
            </div>
        </li>

        <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">My jobs</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/jobs/available">Available</a>
                <a class="dropdown-item" href="/jobs/inProgress">In progress</a>
                <a class="dropdown-item" href="/jobs/delivered">Delivered</a>

                <a class="dropdown-item" href="/jobs/help">Help</a>
            </div>
        </li>


        {{#unless freelancer.lspId}}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">My invoices</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/invoices/paid">Paid</a>
                    <a class="dropdown-item" href="/invoices/notPaid">Not paid</a>
                    <a href="/invoices/overview" class="dropdown-item ">Overview</a>
                    <a class="dropdown-item" href="/invoices/help">Help</a>
                </div>
            </li>
        {{/unless}}

    </ul>

    <div>
        <div class="row">
            <form class="form-inline my-2 my-lg-0 col" action="/profile" method="get">
                <button  type="submit" class="btn btn-primary float-right">
                    Notifications <span id="unRead" class="badge badge-light">{{unread}}</span>
                </button>
            </form>

            <form class="form-inline my-2 my-lg-0" action="/logout" method="post">
                <label style="margin-right: 1em">{{firstName}} {{lastName}}</label>
                <div class="bg-light" style="padding: 0.25em; border-radius: 8px;">
                    <button type="submit" class="form-control btn btn-outline-danger">Logout</button>
                </div>
            </form>
        </div>
    </div>
</nav>



<div class="container-fluid">
    <h1 class="text-center">{{instruction}}</h1>

      {{#each errors as |error|}}
        <div class="alert alert-danger alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{error}}
        </div>
    {{/each}}

    {{#each warnings as |warning|}}
        <div class="alert alert-warning alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{warning}}
        </div>
    {{/each}}

      {{#each successes as |success|}}
        <div class="alert alert-success alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{success}}
        </div>
    {{/each}}

    <iframe id="iframe" src="{{source}}" width="100%" height="100%"  scrolling="no"></iframe>
</div>

<script>
    function resizeIframe(obj) {
        obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
    }
</script>

<script src="/js/instruction.js"></script>
